:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/*logo */

.logo {
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
/* загальні*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-link {
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: 2f303a;
}
.hero-title {
  color: var(--additional-color);
}
.advantages-title {
  display: none;
}
.advantages-title,
.works-title,
.team-title {
  color: var(--title-text-color);
}
.advantages-subtitle {
  color: var(--title-text-color);
}
.team-name {
  color: var(--title-text-color);
}
.footer {
  background-color: 2f303a;
}
.logo-white {
  color: var(--additional-color);
}
.footer-link {
  color: var(--additional-color);
}
