:root
{--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color:#2196F3;
--additional-color:#FFFFFF;
}

.page {
  background-color: #ffffff;
  color: var {var(--primary-text-color)} ;
}
/*logo */

.logo {
  color:var(--accent-color);
}
.logo > span {
  color: #000000;
}
/* загальні*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* site-nav*/
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color)}

.site-nav .link.current {color: var(--accent-color)}

/* section hero*/
.hero .hero-title {
  color:var(--additional-color);
}
.hero {
  background-color: #2f303a;
}
.buttom {color: var(--additional-color);
background-color: var(--accent-color);}

.advantages { display: none;}
.section-title { color: var(--title-text-color);}
/* section advantages*/
.advantages-list .title { color: var(--title-text-color);}

/* section team*/
.team-list .name {color: var(--title-text-color);}
